<div class="rvx-flex">
    <div class="rvx-relative">
        <!-- Outer Ring-->
        <div class="rvx-rounded-full rvx-absolute rvx-border-[3px] rvx-border-gray-500 rvx-border-solid rvx-size-space40"></div>
        <!-- Inner Ring -->
        <div class="rvx-rounded-full rvx-animate-spin rvx-absolute rvx-border-[3px] rvx-border-solid rvx-border-t-transparent rvx-size-space40 rvx-border-primary">
        </div>
    </div>
</div>
