<style>
    #rvx-storefront-widget p {
        margin: 0;
    }

    [x-cloak] {
        display: none !important;
    }
</style>
<div id="rvx-storefront-widget"
     x-data="__reviewXState__()"
     x-init="await initialize({data: '{{ data }}', formLevelData: '{{ formLevelData }}'})"
     @notify-attachment="notifyAttachmentAdded($event.detail.reviewAttachFiles)"
     @notify-close-success-modal="showReviewSuccessModal = false"
     @notify-like-dislike="await fetchReviews({productId: rvxAttributes.product.id})">

    <div x-show="fetchReviewsSettingsIsLoading" class="rvx-grid rvx-place-content-center rvx-h-[186px]">
        {% include "storefront/widget/Components/Spinner.twig" %}
    </div>
    <template x-if="!fetchReviewsSettingsIsLoading" x-cloak>
        <div>
            {% include "storefront/widget/Features/Aggregations/index.twig" %}

            {% include "storefront/widget/Components/RecommendedBanner.twig" %}

            {% include "storefront/widget/Features/MultriCriteriaAggregation/index.twig" %}
        </div>
    </template>

    <template x-if="haveReviews || isFiltering">
        <div>
            {% include 'storefront/widget/Features/Reviews/Filter/ReviewFilter.twig' %}
        </div>
    </template>

    <template x-if="fetchReviewsIsLoading">
        <div class="rvx-grid rvx-place-content-center rvx-h-[186px]">
            {% include "storefront/widget/Components/Spinner.twig" %}
        </div>
    </template>





    <template x-if="haveReviews && !fetchReviewsIsLoading && !fetchReviewsSettingsIsLoading" x-cloak>
        <div>
            {% include "storefront/widget/Features/Reviews/ReviewsLayout.twig" %}

            {% include "storefront/widget/Features/Reviews/Modals/ReviewDetailModal.twig" %}
        </div>
    </template>


    {% include "storefront/widget/Features/Reviews/Modals/ReviewSuccessModal.twig" %}


    <template x-if="(!haveReviews || isFiltering) && !fetchReviewsIsLoading" x-cloak>
        <div class="rvx-bg-neutral-100 rvx-py-[64px] rvx-px-space24 rvx-rounded-md rvx-text-center">
            {% include "storefront/widget/Components/EmptyPlaceholder.twig" %}
        </div>
    </template>

    <div x-show="!fetchReviewsIsLoading || !fetchReviewsSettingsIsLoading" x-cloak>
        {% if not requireSignIn or (requireSignIn and user_is_logged_in) %}
            {% include "storefront/widget/Features/ReviewForm/index.twig" %}
        {% else %}
            <div class="rvx-grid rvx-place-content-center rvx-rounded-md rvx-mt-space20 rvx-p-space6 rvx-bg-neutral-200 rvx-h-[186px]">
                <p class="rvx-text-gray-600">
                    Please 
                    <a href="{{ login_url }}" class="rvx-text-blue-500 hover:rvx-text-blue-700 rvx-font-semibold rvx-underline">
                        log in
                    </a> 
                    to submit a review.
                </p>
                {% if registration_enabled %}
                    <p class="rvx-text-gray-600">
                        Don't have an account? 
                        <a href="{{ register_url }}" class="rvx-text-green-500 hover:rvx-text-green-700 rvx-font-semibold rvx-underline">
                            Register here
                        </a>.
                    </p>
                {% endif %}
            </div>
        {% endif %}
        {% include "storefront/widget/Components/UnVerifyUserPlaceholder.twig" %}
    </div>

</div>